<form [formGroup]="authorForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Registar nuevo autor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre" formControlName="name">
                        <mat-error *ngIf="authorForm.controls['name'].hasError('required')">
                            Nombre <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Apellido" formControlName="lastname">
                        <mat-error *ngIf="authorForm.controls['lastname'].hasError('required')">
                            Apellido <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
                Enviar
                <mat-icon aria-hidden="false" fontIcon="how_to_reg"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>